<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="simplePost" class="com.sagar.SocialMedia.SimplePost" scope="prototype"></bean>
    <bean id="simplePostList" init-method="init" class="com.sagar.SocialMedia.SimplePostList"></bean>

    <bean id="simpleUser" class="com.sagar.SocialMedia.SimpleUser">
        <property name="postList" ref="simplePostList"></property>

    </bean>

</beans>
