
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="event" init-method="init" destroy-method="destroy" class="com.example.EventRegistration.GraduationCeremonyEvent" >
        <property name="attendee" ref="student" />
    </bean>

    <bean id="student" init-method="init" class="com.example.EventRegistration.StudentAttendee" scope="prototype"/>

    <bean id="college" init-method="init" destroy-method="destroy" class="com.example.EventRegistration.MyCollege" >
        <property name="event" ref="event" />
    </bean>

</beans>